$phone: "Only screen and (max-width : 768px)";
$pad: "Only screen and (max-width : 1569px)";
$desktop: "Only screen and (min-width : 1570px)";

@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";

$primary-color: #1e90ff;
$secondary-color: #1e90ff;
$tertiary-color: #f2f527;

html,
body {
  height: 100%;
}

@media #{$desktop} {
  .home {
    .home-box {
      .cabbage-box {
        display: flex;
        // align-items: center;
        justify-content: space-around;
        position: relative;

        margin: 30px;
        div {
          .weather_iframe {
            width: 1000px;
            height: 738px;
          }
        }

        .calc {
        }
      }

      .graph-box {
      }
    }
  }
}

@media #{$pad} {
  .home {
    .home-box {
      .cabbage-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        // position: relative;
        margin: 30px;

        .ifraim_cont {
          .weather_iframe {
            width: 700px;
            height: 738px;
          }
        }

        .calc {
          // position: absolute;
          background-color: white;
          // top: 5%;
          // left: 70%;
        }
      }
    }
  }
}

@media #{$phone} {
  .home {
    .home-box {
      .cabbage-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;

        .ifraim_cont {
          .weather_iframe {
            max-width: 400px;
            height: 738px;
          }
        }
        .calc {
          // position: absolute;
          top: 10px;
        }
      }
    }
  }
}
